@model List<SchneiderStore.Models.Order >
@{
	ViewData["Title"] = "Home Page";
	var message = TempData["resultMessage"]?.ToString();
	Console.WriteLine(message);
}

<h5 class="card py-2 shadow-sm" style="width: 200px; text-align: center; margin: 18px auto; border-radius: 10px;">
	ORDER LIST
</h5>
<div class="card mt-3" style="background-color: #D9D9D9; height: 530px; border-radius: 10px;">
	<div class="table-responsive px-3 py-2 m-4"
		 style="background-color: white; border-radius: 10px; height: 520px;">
		<table class="table" id="home_table">
			<thead>
				<tr>
					<th scope="col">Sales Order</th>
					<th scope="col">Sales Order Item</th>
					<th scope="col">Work Order</th>
					<th scope="col">Product ID</th>
					<th scope="col">Product Description</th>
					<th scope="col">Order Qty</th>
					<th scope="col">Order Status</th>
					<th scope="col">Timestamp</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				@*@if (Model != null | Model.Any())
				{
				@foreach (var order in Model)
				{
				<tr>
				<td>@order.SalesOrder</td>
				<td>@order.SalesOrderItem</td>
				<td>@order.WorkOrder</td>
				<td>@order.ProductID</td>
				<td>@order.ProductDes</td>
				<td>@order.OrderQty</td>
				<td>@order.OrderStatus</td>
				<td>@order.Timestamp</td>
				</tr>
				}

				}
				else
				{
				<tr>

				</tr>
				}*@
			</tbody>
		</table>
	</div>
</div>
@if (!string.IsNullOrWhiteSpace(message))
{
	@*<div class="toast-container" style="z-index:10;height:200px">
		<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<img src="..." class="rounded me-2" alt="...">
				<strong class="me-auto">Schneider Store</strong>
				<small>just now</small>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
			<div class="toast-body">
				@message
			</div>
		</div>
	</div>*@
	<div class="alert alert-primary alert-dismissible fade show position-absolute bottom-0 end-0 shadow m-4" role="alert"
		style="width:250px">
		✔️✖️ @message
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
